@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-shadow {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.16);
}
/* fonts  */
/* Playfair Display,Open Sans,Montserrat,Playfair Display */
.playfair-display-font {
  font-family: "Playfair Display", serif;
}
.open-sans-font {
  font-family: "Open Sans", sans-serif;
}
.montserrat-font {
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Playfair Display", serif;
}
/* scroll  */
html {
  scroll-behavior: smooth;
}
