@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-shadow {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.16);
}
/* fonts  */
/* Playfair Display,Open Sans,Montserrat,Playfair Display */
.playfair-display-font {
  font-family: "Playfair Display", serif;
}
.open-sans-font {
  font-family: "Open Sans", sans-serif;
}
.montserrat-font {
  font-family: "Montserrat", sans-serif;
}
@font-face {
  font-family: 'centuryGothic';
  src: url('../../public/Fonts/Century\ Gothic.ttf') format('ttf');
  /* Add more src declarations for other formats if necessary */
  font-weight: normal; /* Specify font-weight if applicable */
  font-style: normal; /* Specify font-style if applicable */
}
.centuryGothic-font{
  font-family: "centuryGothic",sans-serif !important;
}


body {
  font-family: "Playfair Display", serif;
}
/* scroll  */
html {
  scroll-behavior: smooth;
}
